.header {
   padding: 0 48px 0;
   display: flex;
   box-sizing: border-box;
   width: 100%;
   justify-content: space-between;
   max-width: 1280px;
}

@media screen and (max-width: 990px) {
   .header {
      padding: 0 24px 0;
   }
}